@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6eef7;
}

.container {
  background: #fefeff;
  width: 40em;
  height: 30em;
  border-radius: 10px;
  margin-bottom: 1rem;
}

header {
  padding: 2.3rem 2.5rem;
  height: 45%;
}

.title {
  color: hsl(179, 62%, 43%);
  margin-bottom: 1.6rem;
}

.sub-title {
  color: #bfde33;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.disc {
  line-height: 24px;
  margin-bottom: 2rem;
  color: hsl(218, 22%, 67%);
}

section {
  display: flex;
  justify-content: center;
  height: 16.5em;
  background: #2ab2b1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.why-us,
.prices {
  width: 100%;
  color: white;
}

.prices {
  padding: 2.3rem 2.5rem;
}

.why-us {
  background: #4bbebc;
  padding: 2.3rem 2.5rem;
}

.prices h4 {
  font-size: 1.1rem;
  margin-bottom: 1.3rem;
}

.per {
  color: #acdddc;
}

.price {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 0.3rem;
}
.price h2 {
  font-size: 2rem;
  margin-right: 0.7rem;
}

.prices button {
  width: 100%;
  padding: 1rem 0;
  margin-top: 2.3rem;
  border-radius: 5px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #bfde33;
  cursor: pointer;
}

.why-us {
  padding-left: 2.5rem;
  border-bottom-right-radius: 10px;
}
.why-us h3 {
  margin-bottom: 1.1rem;
}

.why-us p {
  width: 76%;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (width<=40em) {
  body {
    height: auto;
    margin: 3rem 0;
  }
  .container {
    height: auto;
    width: 90%;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .prices {
    height: 16em;
  }

  .why-us {
    padding-left: 2.5rem;
    border-bottom-left-radius: 10px;
  }
}
